$first-color: #000000;
$second-color: #FFFFFF;
$third-color: #6581CE;
$first-gradient: linear-gradient(90deg, rgba(167,167,170,1) 0%, rgba(128,128,128,1) 50%, rgba(88,88,88,1) 98%);
$second-gradient: linear-gradient(to bottom left, #d7d3ac, $second-color);
$third-gradient: linear-gradient(to bottom left, #4854a2, #3d3d3d);